<%= form_with scope: :fruit, url: fruits_path do |form| %>
  <p>
    <%= form.label :name, "Назва", class: "form-control" %>
    <%= form.text_field :name, class: "form-control" %>
  </p>
  <p>
    <%= form.label :color, "Колір", class: "form-control" %>
    <%= form.text_field :color, class: "form-control" %>
  </p>
  <p>
    <%= form.label :quantity, "Кількість" %>
    <%= form.text_field :quantity, class: "form-control" %>
  </p>
  <p>
    <%= form.submit "Зберегти" %>
  </p>
<% end %>
<%= link_to 'Back', fruits_path %>